/* styles/listagem.css */

.listagem-container {
    align-content: center;
}

/* Estilo geral da tabela */
.listagem-tabela {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    background-color: #f8f9fa;
    color: #333;
    table-layout: auto; /* Permite que as colunas se adaptem ao conteúdo */
  }
  
  /* Cabeçalhos */
  .listagem-tabela th {
    background-color: #4a5568; /* Cinza escuro */
    color: #ffffff;
    padding: 12px;
    white-space: nowrap; /* Impede quebra de texto no cabeçalho */
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  /* Células */
  .listagem-tabela td {
    padding: 10px;
    border: 1px solid #e2e8f0; /* Cinza claro */
    word-wrap: break-word; /* Permite quebra de texto em palavras longas */
    white-space: nowrap; /* Mantém o texto em linha única, se possível */
    text-align: center;
  }
  
  /* Alternância de cores nas linhas */
  .listagem-tabela tr:nth-child(even) {
    background-color: #f1f5f9; /* Azul claro muito sutil */
  }
  
  .listagem-tabela tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  /* Hover nas linhas */
  .listagem-tabela tr:hover {
    background-color: #e2e8f0; /* Cinza claro ao passar o mouse */
    cursor: pointer;
  }
  
  /* Texto responsivo */
  @media (max-width: 768px) {
    .listagem-tabela {
      font-size: 14px; /* Reduz tamanho da fonte em telas menores */
    }
  
    .listagem-tabela th,
    .listagem-tabela td {
      padding: 8px;
    }
  }
  
  /* Estilo para o botão de abrir o modal */
.btn-abrir-modal {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-abrir-modal:hover {
  background-color: #45a049;
}

/* Estilos para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-top: 0;
}

/* Estilo para o botão de fechar */
.btn-fechar-modal {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-fechar-modal:hover {
  background-color: #d32f2f;
}

/* Estilo para o botão de editar */
.btn-editar {
  padding: 5px 10px;
  background-color: #9b0186;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-editar:hover {
  background-color: #45a049;
}

/* Estilos para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #252c38;
  color:#ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilo para o formulário */
form div {
  margin-bottom: 15px;
  padding: 0  8px;
}

form label {
  padding: 8px;
  display: block;
  margin-bottom: 5px;
}

form input, select{
  color: #000000;
  width: 100%;
  background-color: #ffffff;
  padding-right: 20px;
}

.modal-btns {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  
}